/* Define Variables */
:root {
  /* Colors */
  --arsenic: #3d364e;
  --ebony: #5d5e60;
  --gainsboro: #e0e1de;
  --onyx: #353b3c;
  --ube: #8676aa;
  --white: #fff;
  /* Fonts */
  --alegreya: 'Alegreya', serif;
  --alegreyaSans: 'Alegreya Sans', sans-serif;
}
::selection {
  background: var(--white);
  color: var(--ube);
}
body {
  background-color: var(--ube);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
