/* Define Variables */
:root {
  /* Colors */
  --arsenic: #3d364e;
  --ebony: #5d5e60;
  --gainsboro: #e0e1de;
  --onyx: #353b3c;
  --ube: #8676aa;
  --white: #fff;
  /* Fonts */
  --heading: 'Open Sans', sans-serif;
  --body: 'Lora', serif;
}
::selection {
  background: var(--ebony);
  color: var(--white);
}
html {
  box-sizing: border-box;
}
*, *:before, :after {
  box-sizing: inherit;
}
body {
  background-color: var(--ube);
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

/* * { outline: 2px solid black; } */