.bucket__wrapper {
  max-width: 500px;
  padding: 2rem;
  width: 100%;
}
.bucket {
  align-items: flex-start;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  justify-content: center;
}
