.bucket__wrapper {
  display: flex;
  padding: 1rem 0.5rem;
  width: 100%;
}
.bucket {
  background-color: var(--white);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  position: relative;
  width: 100%;
}
.bucket__headline {
  background-color: var(--arsenic);
  color: var(--white);
  display: flex;
  font-family: var(--heading);
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  left: 0;
  padding: 0.5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.bucket__copy {
  font-family: var(--body);
  font-size: 14px;
  font-weight: 400;
  margin-top: 1.75rem;
  padding: 1rem 0;
}
@media screen and ( min-width: 800px ) {
  .bucket__wrapper {
    width: 30%;
  }
}