.btn {
  border: none;
  background-color: var(--arsenic);
  color: #fff;
  cursor: pointer;
  font-family: var(--heading);
  height: 25px;
  outline: 0;
  transition: all 250ms ease-in-out;
  width: 100px;
}
.btn:hover {
  background-color: #fff;
  color: var(--arsenic);
}

