.feature__wrapper {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 1600px;
    padding: 0;
    width: 100%;
}
.feature__primary-container,
.feature__secondary-container {
    width: 100%;
}
@media screen and ( min-width: 800px ) {
    .feature__wrapper {
        max-height: 85vh;
    }
    .feature__primary-container {
        width: 60%;
    }
    .feature__secondary-container {
        width: 40%;
    }
  }
