.footer {
  background-color: var(--arsenic);
  color: var(--white);
  display: flex;
  justify-content: space-around;
  padding: 0.25rem;
  width: 100%;
}
.footer-image {
  height: 30px;
  width: 30px;
}
