.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
  padding: 0.5rem;
  width: 100%;
}
.headline {
  align-items: center;
  color: var(--white);
  display: flex;
  flex-grow: 1;
  font-family: var(--heading);
  font-weight: 400;
  width: 100%;
}
.headline--left,
.headline--right {
  width: auto;
}
.headline--left {
  font-size: 30px;
  font-weight: 400;
  justify-content: flex-start;
}
.headline--right {
  cursor: pointer;
  font-size: 20px;
  justify-content: flex-end;
  transition: all 300ms ease;
}
.headline--right:hover {
  color: var(--arsenic);
}
@media screen and ( min-width: 800px ) {
  .headline--left,
  .headline--right {
    width: 50%;
  }
  .headline--left {
    font-size: 40px;
  }
  .headline--right {
    font-size: 30px;
  }
}