.header {
  display: flex;
  padding: 1rem 1.5rem;
  width: 100%;
}
.headline {
  color: var(--gainsboro);
  display: flex;
  font-family: var(--alegreya);
  font-size: 28px;
  font-weight: 400;
  width: 50%;
}
.headline--left {
  justify-content: flex-start;
}
.headline--right {
  justify-content: flex-end;
}