.landing__wrapper {
  background: linear-gradient( 135deg, transparent, transparent 50%, #3d364e 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.landing__header,
.landing__buckets {
  max-width: 1600px;
  width: 100%;
}
.landing__header {
  margin-bottom: 3rem;
}
.landing__footer {
  width: 100%;
}
