.primary__wrapper {
    display: flex;
}
.primary__container {

}
.primary__image {

}
@media screen and ( min-width: 800px ) {
    .primary__wrapper {
        overflow: hidden;
        width: 100%;

    }
    .primary__container {

    }
    .primary__image {
    }
}
