.secondary__wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.secondary__image {
    border: 1px solid red;
    height: auto;
    padding: 2rem;
    width: 100%;
}
@media screen and ( min-width: 800px ) {
    .secondary__wrapper {
        padding: 1rem;
    }
    .secondary__image {
        padding: 0;
        width: 200px;
        height: 200px;
    }
}
