.secondary__wrapper {
    display: flex;
    justify-content: center;
}
.secondary__container {

}
.secondary__image {

}
@media screen and ( min-width: 800px ) {
    .secondary__wrapper {
        overflow: hidden;
        padding: 3rem 0;
        width: 100%;
    }
    .secondary__container {
        border: 1px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
        height: 175px;
        overflow: hidden;
        padding: 0;
        transform: rotate(45deg);
        width: 175px;
    }
    .secondary__image {
        height: 275px;
        padding: 0;
        transform: rotate(-45deg) translate(15px, -85px);
        width: 275px;
    }
}
